- provide(:title, 'About')
%h2 A Simple TODO App with User Authentication
%h4 Technologies include:
%ul
  %li
    %a{:href => "https://www.ruby-lang.org/"} Ruby 2.2
  %li
    %a{:href => "http://rubyonrails.org/"} Rails 4.2
  %li
    %a{:href => "http://www.postgresql.org/"} PostgreSQL 9.4
  %li
    %a{:href => "http://getbootstrap.com/"} Twitter Bootstrap 3.3
  %li
    %a{:href => "http://sass-lang.com/"} SASS 3.4
  %li
    %a{:href => "https://github.com/decioferreira/bootstrap-generators"} bootstrap-generators 3.3
